/* General changes to the entire popup */

body {
    font-family: 'Inter', sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;

    padding: 5px;
    width: 400px;
    height: 265px;
    border: 0;
}

/* Styling for the clock */

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 50px;
    border: 0;
    padding: 20px;

    color: #303030;
    box-shadow: 5px 5px 10px #c5c5c5, -5px -5px 10px #ffffff;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;

    font-size: 5rem;
    font-weight: 100;
    text-shadow: 0 0 10px #535353
}

.time-adjust {
    display: flex;
    gap: 6px; 
    padding-top: 15px
}

button {
    background-color: #ffffff;
    border: 0;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #c5c5c5, -5px -5px 10px #ffffff;
    cursor: pointer;
}

button:active {
    color: #636363;
    box-shadow: inset 4px 4px 8px #c5c5c5, inset -4px -4px 8px #ffffff;
}

button:disabled {
    color: #636363;
    box-shadow: inset 4px 4px 8px #c5c5c5, inset -4px -4px 8px #ffffff;
}

.control-buttons button{
    font-size: 1rem;
    padding: 10px 10px;
    margin: 5px;
    border: 0;
}

.separator {
    padding-bottom: 55px;
}

svg {
    width: 24px;
    height: 24px;
}
